body {
  background: linear-gradient(135deg, #1e90ff, #6dbbff);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  padding: 25px;
}

.subtitle {
  opacity: 0.9;
}

.btn {
  background: #004cbb;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 10px;
  margin-top: 18px;
  font-size: 1.1em;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background: #007bff;
  transform: scale(1.05);
}

.hidden {
  display: none;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 115, 255, 0.95);
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 25px white;
}

.cup {
  width: 180px;
  margin-top: 15px;
}
